<!DOCTYPE html>
<html>
<head>
    <title>Online dynamic adventure</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="view">
        <h1 id="header">
            <% if (branchKey === 'root') { %>
              You start your journey by:
            <% } else if (responseToShow !== undefined) { %>
              <%= responseToShow %>
            <% } else { %>
                An insane error has occured!
            <% } %>
          </h1>
        <ul id="branch-options">
            <% for (let item of shownItems) { %>
              <% if (item.branch.rootValue) { %>
                <li class="branch-option">
                    <a class="branch" href=<%=`/?branchKey=${item.branchKey}&responseToShow=${item.branch.rootResponse.replace(/ /g, '%20')}`%>><%= item.branch.rootValue %></a>
                    <a class="trash" data-delete-branch-key=<%= item.branchKey %> style="--click-combo: 0" >x</a>
                </li>
              <% } %>
            <% } %>
          </ul>
    
        <form id="post-form" action="/post-branch" method="post">
            <input type="hidden" name="branchKey" value="<%= branchKey %>">
    
            <label for="branchValue">What do you do?:</label>
            <input type="text" maxlength="100" id="branchValue" name="branchValue">
    
            <label for="branchValue">What happens after that?:</label>
            <input type="text" maxlength="100" id="branchResponse" name="branchResponse">
            <div id="submit-buttons">
                <button type="submit">Add Item</button>
                <a id="return" href="/">Return</a>
            </div>
        </form>
    </div>

    <script src="index.js"></script>
</body>
</html>